<html>
    <head>
        <link href="skeleton/css/normalize.css" rel="stylesheet">
        <link href="skeleton/css/skeleton.css"  rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div id="App">Loading..</div>
        </div>
        <script src="app.js"></script>
    </body>
</html>
