<html>
    <head>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        Hello World!<br />
        This is index.ejs<br />
        Loading main.jsx (now bundled in app.js)
        <div id="App">Loading..</div>
        <script src="app.js"></script>
    </body>
</html>
